@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.do-btn {
  background-color: #2D2434;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.new-item-form > input {
  width: 100%;
}
