$primary : #2D2434;
$hover-bg: #8E8D92;
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    min-height: 100vh;
    color: white;
    min-width: 12vw;
    div {
        cursor: pointer;
    }
    .links {
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        .link {
            text-align: center;
            width: 100%;
            padding: 15px 0;
            &:hover {
            background-color: $hover-bg;
            }
            transition: all .3s ease-in-out;
        }
    }
}